.question-page{
      min-height: 100vh;
	font-size: 1.6rem;
	padding: 0 1.6rem;
	display: grid;
	gap: 1.6rem;
	grid-template-rows: auto auto 1fr auto;
}
.question-container{
	width: 50%;
	justify-self: center;
	align-items: flex-start;
	justify-content: flex-start;
}
.btn-text:disabled{
	cursor: no-drop;
}

@media screen and (max-width: 850px) {
	.question-page {
		margin: 0;
		padding: 0;
            min-height: calc(100vh - 19rem);
	}
	.question-container {
		width: 100%;
		padding: 1.6rem;
	}
	.option-container {
		grid-template-columns: 1fr 1fr;
	}
	.quiz-intro {
		grid-template-columns: 1fr;
	}
}