.category-card {
	position: relative;
	max-width: 25rem;
	transition: all 0.2s ease-in-out;
}
.category-card:hover {
	cursor: pointer;
	box-shadow: 0 0 5px var(--box-shadow);
	background-color: var(--hover-color);
	transform: scale(1.1);
}
.category-card img {
	height: 25rem;	
      border-radius: 10px;
}
.category-card-text {
	position: absolute;
	bottom: 16px;
	left: 16px;
}