.option-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	padding: 2rem;
}
.btn-option {
	background-color: var(--hover-color);
	width: 100%;
	justify-self: center;
}
.btn-selected{
	background-color:#1a8aff ;
	color: white;
}
.btn-option:hover {
	background-color: #1a8aff;
	color: var(--complimentary-font-color);
	cursor: pointer;
}