@import url("./utility.css");
@import url("https://vercelui.netlify.app/component-lib/all-comp.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root {
	--primary-color: #0060c3;
	--dark-primary-color: #0059b2;
	--purple-color:#6077ef;
	--purple-color-dark:#7589f0;

	--primary-font-color: #0a1929;
	--complimentary-font-color: #fffefe;

	--primary-bg-color: #fffefe;
	--secondary-bg-color: #fffefe;
	--border-color: E4E6EB;

	--hover-color: #e9f5ff;

	--box-shadow: rgb(0 0 0 / 0.2);
	--font: "Montserrat", sans-serif;

	--primary-border-color: #22bff2;
	--danger-color: #f54337;
	--dark-danger-color: #d22f2e;
	--success-color: #67bb6b;
	--dark-success-color: #2e7d32;
	--warning-color: #fac424;
	--dark-warning-color: #feb203;
	--highlight-color: #ccff00;
	--card-bg-color: white;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}
html {
	font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 1030px) {
	.category-heading{
		margin-left: 2rem;
	}
}